# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
APP_URL=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# E-mail Service
GMAIL_USER=
GMAIL_APP_PASS=
